doctype html 
html
    head
        title= title
        link(rel="stylesheet", 
             href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")

        link(rel="stylesheet", href="/style/main.css")
    body(class="has-background-grey-darker has-text-light")
        nav(class="navbar has-background-black-ter", role="navigation", aria-label="main navigation")
            div(class="navbar-brand")
                a(class="navbar-item", href="")
                    img(src="http://1.bp.blogspot.com/-4e4mghi0O_8/UxzAKhE4RYI/AAAAAAAAAYU/1Xx5eKPN5Ew/s1600/poweramp-music-player-trial-logo.jpg", width="60", height="70", alt="MusicPlayer")

            a(role="button", class="navbar-burger burger", aria-label="menu", aria-expanded="false", data-target="navbarBasicExample")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")

            div(id="navbarExample", class="navbar-menu")
                div(class="navbar-start")
                    a(class="navbar-item", href="#") Home
                    a(class="navbar-item", href="/students") Music Market
                    div(class="navbar-item has-dropdown is-hoverable")
                        //- a(class="navbar-link") Products
                        //- div(class="navbar-dropdown")
                        //-     a(class="navbar-item") Rad Grow
                        //-     a(class="navbar-item") Fire Breath
                        //-     hr(class="navbar-divider")
                        //-     a(class="navbar-item") Armour Plating
                        a(class="navbar-item", href="#") Your Music

            div(class="navbar-end")
                div(class="navbar-item")
                    div(class="buttons")
                        if (username && username !== '')
                            a(class="button is-light", href="/logout") Logout
                        else
                            a(class="button is-danger", href="/register") Sign-up
                            a(class="button is-light", href="/login") Log in

        block content